@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$global-font: Roboto,
sans-serif;
$light-color: #c4a5f7;
$user-profile-color: #68c3ec;
$user-content-color: #68eccf;
body {
    background: $light-color;
    margin: 0;
    padding: 0;
    font-family: $global-font;
    align-items: stretch;
}

.flex-box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    top: 50%;
    left: 50%;
}

.app-main-container {
    background-color: #f4f4f4;
    display: flex;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    margin: 16px 24px 24px 16px;
}

// .app-sidebar-container {
//     background-color: $sidebar-color;
//     padding: 40px 16px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     border-right: solid 1px #bababa;
//     a {
//         text-decoration: none;
//     }
//     .app-sidebar-collapse {
//         padding: 0 0 15px 0;
//         flex-shrink: 0;
//         width: 40px;
//         height: 40px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: xx-large;
//     }
//     .app-sidebar-group-link {
//         margin: 0 0 0 -16px;
//         .app-sidebar-link-box {
//             width: 40px;
//             height: 40px;
//             display: flex;
//             align-items: center;
//             padding: 0 0 0 6px;
//             border: $sidebar-color solid 5px;
//             &:hover {
//                 transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
//                 border-left: $sidebar-link-color solid 5px;
//                 display: flex;
//             }
//         }
//         .app-sidebar-link-box-selected {
//             width: 40px;
//             height: 40px;
//             display: flex;
//             align-items: center;
//             padding: 0 0 0 6px;
//             border-left: $sidebar-link-color solid 5px;
//             border-top: $sidebar-color solid 5px;
//             border-bottom: $sidebar-color solid 5px;
//             border-right: $sidebar-color solid 5px;
//             a {
//                 color: $sidebar-link-color;
//             }
//         }
//         .app-sidebar-link {
//             margin: 16px 0;
//             padding: 0 0 0 4px;
//             transition: 0.2s;
//             border-radius: 50%;
//             flex-shrink: 0;
//             width: 40px;
//             height: 40px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             color: #818181;
//             transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
//         }
//     }
//     .app-sidebar-footer {
//         display: flex;
//         align-items: flex-end;
//         flex-direction: column;
//         align-items: center;
//         margin: 16px 0 0 0;
//         padding: 80% 0 0 0;
//         width: 40px;
//         .app-sidebar-footer-user-image {
//             max-width: 100%;
//             max-height: auto;
//             border-radius: 50%;
//             margin: 15px 0;
//         }
//         .app-sidebar-footer-link {
//             margin: 15px 0;
//             border-radius: 50%;
//             width: 40px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }
//         .app-sidebar-footer-new-mail {
//             background-color: #5afd9944;
//             border-radius: 50%;
//             height: 40px;
//             padding: 2px;
//             display: flex;
//         }
//     }
// }
.app-user-profile-container {
    flex: 2;
    background-color: $user-profile-color;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .app-sidebar-link {
        margin: 16px 0;
        transition: 0.2s;
        border-radius: 50%;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
    }
}

.app-navbar-container {}

.app-user-content-container {
    flex: 2;
    background-color: $user-content-color;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}