@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$global-font: Roboto,
sans-serif;
$light-color: #c4a5f7;
$user-profile-color: #68c3ec;
$user-content-color: #68eccf;
body {
    background: $light-color;
    margin: 0;
    padding: 0;
    font-family: $global-font;
    align-items: stretch;
}

.flex-box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    top: 50%;
    left: 50%;
}

.app-main-container {
    background-color: #f4f4f4;
    display: flex;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    margin: 16px 24px 24px 16px;
}

.app-navbar-container {}

.app-user-content-container {
    flex: 2;
    background-color: $user-content-color;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}