@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");
body {
  background: #c4a5f7;
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
}

.app-main-container {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px;
  margin: 16px 24px 24px 16px;
}

@media only screen and (max-width: 1024px) {
  .app-main-container,
  .flex-box {
    margin: 50px;
  }
}

.app-user-content-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: #F0F8FF;
  padding: 40px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-user-content-container .app-user-content-navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: solid 2px #e0e0e0;
  padding: 0 0 15px 0;
}

.app-user-content-container .app-user-content-navbar-container .app-user-content-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-user-content-container .app-user-content-navbar-container .app-user-content-navbar .navbar-link-box {
  width: 10%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 0;
}

.app-user-content-container .app-user-content-navbar-container .app-user-content-navbar .navbar-link-box .navbar-link {
  margin: 16px 0;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #818181;
  text-decoration: none;
  font-size: small;
  font-weight: bolder;
}

.app-user-content-container .app-user-content-navbar-container .app-user-content-navbar .navbar-link-box .navbar-link:hover {
  color: #1E90FF;
}

.app-user-content-container .app-user-content-navbar-container .app-user-content-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #1E90FF;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.app-user-content-container .card-check-new-orders,
.app-user-content-container .card-check-agreements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  background-color: #fff;
  border-radius: 8px;
  margin: 25px 0 10px 0;
}

.app-user-content-container .card-check-new-orders .calendar,
.app-user-content-container .card-check-agreements .calendar {
  height: 15px;
  width: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5991a7;
  font-size: large;
}

.app-user-content-container .card-check-new-orders .check-card-content,
.app-user-content-container .card-check-agreements .check-card-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.app-user-content-container .card-check-new-orders .check-card-content p,
.app-user-content-container .card-check-agreements .check-card-content p {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: large;
}

.app-user-content-container .card-check-new-orders .check-card-content small,
.app-user-content-container .card-check-agreements .check-card-content small {
  padding: 0;
  font-weight: 600;
  color: #818181;
  font-size: small;
}

.app-user-content-container .card-check-new-orders .agreements-card-header,
.app-user-content-container .card-check-agreements .agreements-card-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 60px 0;
}

.app-user-content-container .card-check-new-orders .agreements-card-header .agreements-label,
.app-user-content-container .card-check-new-orders .agreements-card-header .agreements-value,
.app-user-content-container .card-check-agreements .agreements-card-header .agreements-label,
.app-user-content-container .card-check-agreements .agreements-card-header .agreements-value {
  font-weight: bolder;
  padding: 0 10px 0 0;
  font-size: x-large;
}

.app-user-content-container .card-check-new-orders .agreements-card-header .agreements-value,
.app-user-content-container .card-check-agreements .agreements-card-header .agreements-value {
  color: #818181;
}

.app-user-content-container .card-check-new-orders .agreements-card-header .agreements-see-all,
.app-user-content-container .card-check-agreements .agreements-card-header .agreements-see-all {
  font-weight: bolder;
  padding: 0 10px 0 0;
  color: #1E90FF;
  text-decoration: none;
}

.app-user-content-container .card-check-new-orders .agreements-table,
.app-user-content-container .card-check-agreements .agreements-table {
  width: 100%;
}

.app-user-content-container .card-check-new-orders .agreements-table table,
.app-user-content-container .card-check-agreements .agreements-table table {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.app-user-content-container .card-check-new-orders .agreements-table table thead th,
.app-user-content-container .card-check-agreements .agreements-table table thead th {
  color: #818181;
  border-bottom: solid 2px #e0e0e0;
  padding: 0 0 10px 0;
}

.app-user-content-container .card-check-new-orders .agreements-table table tbody td,
.app-user-content-container .card-check-agreements .agreements-table table tbody td {
  padding: 45px 0 0 0;
  font-size: larger;
}

.app-user-content-container .card-check-new-orders .agreements-table table tbody td .item-id,
.app-user-content-container .card-check-agreements .agreements-table table tbody td .item-id {
  color: #1E90FF;
  font-weight: bolder;
}

.app-user-content-container .card-check-new-orders .agreements-table table tbody td .item-price,
.app-user-content-container .card-check-agreements .agreements-table table tbody td .item-price {
  font-weight: bolder;
}

.app-user-content-container .card-check-new-orders .agreements-table table tbody td .item-price small,
.app-user-content-container .card-check-agreements .agreements-table table tbody td .item-price small {
  color: #818181;
}

.app-user-content-container .card-check-new-orders .agreements-table table tbody td .item-status,
.app-user-content-container .card-check-agreements .agreements-table table tbody td .item-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-user-content-container .card-check-new-orders .agreements-table table tbody td .item-status .status-date,
.app-user-content-container .card-check-agreements .agreements-table table tbody td .item-status .status-date {
  max-width: 50%;
  color: #818181;
  font-size: small;
  font-weight: bolder;
}

.app-user-content-container .card-check-new-orders .agreements-table table tbody td .item-status .signed-badge,
.app-user-content-container .card-check-agreements .agreements-table table tbody td .item-status .signed-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  text-align: center;
  background-color: #87cefa88;
  color: #1E90FF;
  border-radius: 5px;
  font-weight: bolder;
  margin: 4px 8px;
  font-size: small;
}

.app-user-content-container .card-check-new-orders .agreements-table table tbody td .item-status .canceled-badge,
.app-user-content-container .card-check-agreements .agreements-table table tbody td .item-status .canceled-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  text-align: center;
  background-color: #e4e4e4;
  color: #818181;
  border-radius: 5px;
  font-size: small;
  font-weight: bolder;
  margin: 4px 8px;
}

.app-user-content-container .card-check-new-orders .agreements-table table tbody td .item-consignee,
.app-user-content-container .card-check-agreements .agreements-table table tbody td .item-consignee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-user-content-container .card-check-new-orders .consignee-img,
.app-user-content-container .card-check-agreements .consignee-img {
  padding: 0;
  margin: 0;
  width: 15px;
  margin: 0 35px 0 0;
}

.app-user-content-container .card-check-new-orders .consignee-img img,
.app-user-content-container .card-check-agreements .consignee-img img {
  width: 40px;
  border-radius: 50%;
}

.app-user-content-container .card-check-new-orders .arrow-right,
.app-user-content-container .card-check-agreements .arrow-right {
  color: #5991a7;
  padding: 0 20px 0 0;
}

.app-user-content-container .dual-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.app-user-content-container .dual-card-container .card-check-services,
.app-user-content-container .dual-card-container .card-check-inventory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  background-color: #fff;
  border-radius: 8px;
  margin: 25px 10px 10px 0;
}

.app-user-content-container .dual-card-container .card-check-services .circle,
.app-user-content-container .dual-card-container .card-check-inventory .circle {
  height: 15px;
  width: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #5991a7;
  font-size: large;
}

.app-user-content-container .dual-card-container .card-check-services .circle.blue,
.app-user-content-container .dual-card-container .card-check-inventory .circle.blue {
  color: #1E90FF;
}

.app-user-content-container .dual-card-container .card-check-services .circle.yellow,
.app-user-content-container .dual-card-container .card-check-inventory .circle.yellow {
  color: #FFD700;
}

.app-user-content-container .dual-card-container .card-check-services .check-card-content,
.app-user-content-container .dual-card-container .card-check-inventory .check-card-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.app-user-content-container .dual-card-container .card-check-services .check-card-content p,
.app-user-content-container .dual-card-container .card-check-inventory .check-card-content p {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: large;
}

.app-user-content-container .dual-card-container .card-check-services .check-card-content small,
.app-user-content-container .dual-card-container .card-check-inventory .check-card-content small {
  padding: 0;
  font-weight: 600;
  color: #818181;
  font-size: small;
}

.app-user-content-container .dual-card-container .card-check-services .arrow-right,
.app-user-content-container .dual-card-container .card-check-inventory .arrow-right {
  color: #5991a7;
  padding: 0 20px 0 0;
}

@media only screen and (max-width: 1025px) {
  .app-user-content-container {
    max-width: 50%;
  }
  .navbar-link-box {
    padding-right: 25px;
  }
  .app-user-content-icon-link {
    margin-right: 25px;
  }
}
